<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SignOn.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string></string>
				<key>dateExpires</key>
				<string></string>
				<key>type</key>
				<string>Unknown</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>ActionSheetPicker_3_0.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V5464A32X9</string>
						<key>name</key>
						<string>Akshay  Bhatia</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V5464A32X9</string>
						<key>name</key>
						<string>Akshay  Bhatia</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>Bolts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V5464A32X9</string>
						<key>name</key>
						<string>Akshay  Bhatia</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>DatePickerDialog.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V5464A32X9</string>
						<key>name</key>
						<string>Akshay  Bhatia</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>DropDown.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V5464A32X9</string>
						<key>name</key>
						<string>Akshay  Bhatia</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V5464A32X9</string>
						<key>name</key>
						<string>Akshay  Bhatia</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V5464A32X9</string>
						<key>name</key>
						<string>Akshay  Bhatia</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>FBSDKPlacesKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V5464A32X9</string>
						<key>name</key>
						<string>Akshay  Bhatia</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>FBSDKShareKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V5464A32X9</string>
						<key>name</key>
						<string>Akshay  Bhatia</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V5464A32X9</string>
						<key>name</key>
						<string>Akshay  Bhatia</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V5464A32X9</string>
						<key>name</key>
						<string>Akshay  Bhatia</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V5464A32X9</string>
						<key>name</key>
						<string>Akshay  Bhatia</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>KYDrawerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V5464A32X9</string>
						<key>name</key>
						<string>Akshay  Bhatia</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>Lottie.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V5464A32X9</string>
						<key>name</key>
						<string>Akshay  Bhatia</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>RSKPlaceholderTextView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V5464A32X9</string>
						<key>name</key>
						<string>Akshay  Bhatia</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>Realm.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V5464A32X9</string>
						<key>name</key>
						<string>Akshay  Bhatia</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>RealmSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V5464A32X9</string>
						<key>name</key>
						<string>Akshay  Bhatia</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V5464A32X9</string>
						<key>name</key>
						<string>Akshay  Bhatia</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V5464A32X9</string>
						<key>name</key>
						<string>Akshay  Bhatia</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>libwebp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V5464A32X9</string>
						<key>name</key>
						<string>Akshay  Bhatia</string>
					</dict>
				</dict>
			</array>
			<key>name</key>
			<string>SignOn.app</string>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>V5464A32X9</string>
				<key>name</key>
				<string>Akshay  Bhatia</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
